

<a href="/events/<%= active._id %>">
  <dl class="td g-xs-12 g-sm-6 g-md-6 g-lg-4">
    <dt><img src="<%= active.cover_url %>" alt=""></dt>
    <!-- <dt><a href="/active/<%= active._id %>"><img src="/public/images/meet02.jpg" alt=""></a></dt> -->
      <dd>
          <% if (active.title.length > 25) { %>
            <h4><span>[ <%= active.events_type %> ]</span><%= active.title.substring(0, 25) + '...' %></h4>
          <% } else {%>
            <h4><span>[ <%= active.events_type %> ]</span><%= active.title %></h4>
          <% } %>
          <a class="btn-eve" href="/events/sign_up/<%= active._id %>">立即报名</a>
          <div class="m-eve-info">
              <time><%= moment(active.start_time).format('YYYY-MM-DD') %></time>
              <address><%= active.city %></address>
          </div>
      </dd>
  </dl>
</a>
