<div id="content">
    <div class="panel">
        <div class="header"><%=language.getMessage('active_detail')%></div>
        <% if (typeof(detail) !== 'undefined') { %>
        <div class="inner no-padding">
            <div class="m-art-head">
              <h2><%= detail.title %></h2>
              <div class="m-change">
                发布与<%= detail.start_time%>
              </div>

              <% if (current_user && current_user.is_admin) { %>
                <div class="m-edit">
                  <a href='/active/<%= detail._id%>/edit'>
                    <i class="fa fa-lg fa-pencil-square-o" title='编辑'></i></a>

                    <a href='javascript:;'
                       data-id="<%= detail._id %>"
                       class='delete_active_btn'>
                       <i class="fa fa-lg fa-trash" title='删除'></i></a>
                </div>
              <% } %>

            </div>
            <article class="m-act-art">
              <%- markdown(detail.active_detail) %>
            </article>
        </div>
        <% } else { %>
        <div class="inner">
            <p><%=language.getMessage('no_this_activity')%></p>
        </div>
        <% } %>
    </div>
</div>

<script>
// 删除话题
$('.delete_active_btn').click(function () {
  var activeId = $(this).data('id');
  if (activeId && confirm('确定要删除此活动吗？')) {
    $.post('/active/' + activeId + '/delete', { _csrf: $('#_csrf').val() }, function (result) {
      if (!result.success) {
        alert(result.message);
      } else {
        location.href = '/active';
      }
    });
  }
  return false;
});
</script>
