<div id='content'>
    <div class='panel'>
        <div class='header'>
            <ol class='breadcrumb'>
                <li><a href='/'><%=language.getMessage('events')%></a><span class='divider'>/</span></li>
                <% if(typeof(action) !== 'undefined' && action == 'edit'){ %>
                <li class='active'><%=language.getMessage('edit_activity')%></li>
                <% }else{ %>
                <li class='active'><%=language.getMessage('post_activity')%></li>
                <% } %>
            </ol>
        </div>

        <div class="inner post">
          <% if(typeof(edit_error) !== 'undefined' && edit_error){ %>
          <div class="alert alert-error">
            <a class="close" data-dismiss="alert" href="#">&times;</a>
            <strong><%= edit_error %></strong>
          </div>
          <% } %>
            <form id="addActive" action="/active/create" method="post">
              <h4><%=language.getMessage('activity_information')%></h4>
              <div class="group">
                  <div class="m-label"><%=language.getMessage('activity_covers')%><strong>*</strong></div>
                  <div class="m-inp">
                      <div class="cover" id="activeTitleBox">
                          <img src="/public/images/cover_init.jpg" id='activeTitle' alt="">
                          <input type="hidden" id='activeTitleValue' name="cover_url" />
                      </div>
                      <div class="m-up">
                          <p>
                            <%= language.getMessage('reminder')%>
                            <br>
                            <%= language.getMessage('reminder_info_1')%>
                            <br>
                            <%= language.getMessage('reminder_info_2')%>
                          </p>
                      </div>
                  </div>
              </div>

              <div class="group">
                  <div class="m-label"><%=language.getMessage('name_of_activity')%><strong>*</strong></div>
                  <div class="m-inp">
                    <input class="m-inp100" type="text" name="title" value="<%= typeof(title) !== 'undefined' && title || '' %>" />
                  </div>
              </div>

              <div class="group">
                  <div class="m-label"><%=language.getMessage('time_duration')%><strong>*</strong></div>
                  <div class="m-inp">
                    <input class="m-start" id="startTime" type="text" name="start_time" placeholder="<%=language.getMessage('start_time')%>" value="<%= typeof(start_time) !== 'undefined' && start_time || '' %>"/>
                    <input class="m-end" id="endTime" type="text" name="end_time" placeholder="<%=language.getMessage('end_time')%>" value="<%= typeof(end_time) !== 'undefined' && end_time || '' %>"/>
                  </div>
              </div>

              <div class="group">
                  <div class="m-label"><%=language.getMessage('activity_address')%><strong>*</strong></div>
                  <div class="m-inp">
                    <select class="m-prov" name="province" id="province" size="1" onchange="getCity()">
                      <%
                        console.log('config.language====' + config.language)
                        if(config.language == 'zh-CN') {
                      %>
                      <option value= 0 >安徽</option>
                      <option value= 1 >北京</option>
                      <option value= 2 >重庆</option>
                      <option value= 3 >福建</option>
                      <option value= 4 >甘肃</option>
                      <option value= 5 >广东</option>
                      <option value= 6 >广西</option>
                      <option value= 7 >贵州</option>
                      <option value= 8 >海南</option>
                      <option value= 9 >河北</option>
                      <option value= 10 >河南</option>
                      <option value= 11 >黑龙江</option>
                      <option value= 12 >香港</option>
                      <option value= 13 >湖北</option>
                      <option value= 14 >湖南</option>
                      <option value= 15 >江苏</option>
                      <option value= 16 >江西</option>
                      <option value= 17 >吉林</option>
                      <option value= 18 >辽宁</option>
                      <option value= 19 >澳门</option>
                      <option value= 20 >内蒙古</option>
                      <option value= 21 >宁夏</option>
                      <option value= 22 >青海</option>
                      <option value= 23 >山东</option>
                      <option value= 24 >山西</option>
                      <option value= 25 >陕西</option>
                      <option value= 26 >上海</option>
                      <option value= 27 >四川</option>
                      <option value= 28 >台湾</option>
                      <option value= 29 >天津</option>
                      <option value= 30 >西藏</option>
                      <option value= 31 >新疆</option>
                      <option value= 32 >云南</option>
                      <option value= 33 >浙江</option>
                      <% } else if(config.language == 'en-US') {%>
                        <option value= 0 >Anhui</option>
                        <option value= 1 >Beijing</option>
                        <option value= 2 >Chongqing</option>
                        <option value= 3 >Fujian</option>
                        <option value= 4 >Gansu</option>
                        <option value= 5 >Guangdong</option>
                        <option value= 6 >Guangxi</option>
                        <option value= 7 >Guizhou</option>
                        <option value= 8 >Hainan</option>
                        <option value= 9 >Hebei</option>
                        <option value= 10 >Henan</option>
                        <option value= 11 >Heilongjiang</option>
                        <option value= 12 >Hong Kong</option>
                        <option value= 13 >Hubei</option>
                        <option value= 14 >Hunan</option>
                        <option value= 15 >Jiangsu</option>
                        <option value= 16 >Jiangxi</option>
                        <option value= 17 >Jilin</option>
                        <option value= 18 >Liaoning</option>
                        <option value= 19 >Macau</option>
                        <option value= 20 >Inner Mongol (Neimenggu)</option>
                        <option value= 21 >Ningxia</option>
                        <option value= 22 >Qinghai</option>
                        <option value= 23 >Shandong</option>
                        <option value= 24 >Shanxi</option>
                        <option value= 25 >shaanxi</option>
                        <option value= 26 >Shanghai</option>
                        <option value= 27 >Sichuan</option>
                        <option value= 28 >Taiwan</option>
                        <option value= 29 >Tianjin</option>
                        <option value= 30 >Tibet(Xizang)</option>
                        <option value= 31 >Sinkiang(Xinjiang)</option>
                        <option value= 32 >Yunnan</option>
                        <option value= 33 >Zhejiang</option>
                      <% } %>
                    </select>

                    <select class="m-city" name="city" id="city">
                    </select>

                    <input class="m-inp100" type="text" name="adress" placeholder="<%=language.getMessage('detail_address')%>" value="<%= typeof(adress) !== 'undefined' && adress || '' %>">
                  </div>
              </div>

              <div class="group">
                  <div class="m-label"><%=language.getMessage('sponsor')%><strong>*</strong></div>
                  <div class="m-inp">
                    <input class="m-inp100" id="sponsor" type="text" name="sponsor" value="<%= typeof(sponsor) !== 'undefined' && sponsor || '' %>">
                    <!-- <select name="sponsor" id="sponsor">
                        <option value="才云">才云</option>
                        <option value="vm">vm</option>
                        <option value="kubecon">Kubecon</option>
                        <option value="北京">北京</option>
                    </select>
                    <button>添加主办方</button> -->
                  </div>
              </div>

              <div class="group">
                  <div class="m-label"><%=language.getMessage('active_detail')%><strong>*</strong></div>
                  <div class="m-inp">
                    <textarea class='editor' name='active_detail' rows='20'
                              placeholder='文章支持 Markdown 语法, 请注意标记代码'
                    ><%= typeof(active_detail) !== 'undefined' && active_detail || '' %></textarea>
                  </div>
              </div>


              <h4><%=language.getMessage('ticket_setup')%></h4>
              <div class="group01">
                <dl>
                    <dt><%=language.getMessage('participants')%><strong>*</strong></dt>
                    <dd>
                      <input type="text" name="people_num">
                    </dd>
                </dl>
                <dl>
                    <dt><%=language.getMessage('charge_of_Actiivity')%><strong>*</strong></dt>
                    <dd>
                      <select name="fees" id="fees">
                          <option value="false"><%=language.getMessage('free')%></option>
                          <option value="true"><%=language.getMessage('charge')%></option>
                      </select>
                    </dd>
                </dl>

                <dl id="cost">
                    <dt><%=language.getMessage('price')%><strong>*</strong></dt>
                    <dd>
                      <input type="text" name="cost">
                    </dd>
                </dl>

                <dl>
                    <dt><%=language.getMessage('audit_or_not')%><strong>*</strong></dt>
                    <dd>
                      <select name="verify" id="verify">
                          <option value="false"><%=language.getMessage('not_audit')%></option>
                          <option value="true"><%=language.getMessage('audit')%></option>
                      </select>
                    </dd>
                </dl>
              </div>

              <!--<h4>报名表单设置</h4>-->
              <button class="m-act-btn" type="submit">
                  <% if (typeof(language) !== 'undefined') { %>
                    <%=language.getMessage('submit')%>
                    <% } %>
              </button>
              <input type='hidden' name='_csrf' value='<%= csrf %>'>
            </form>
        </div>
    </div>
</div>

<%- partial('../includes/editor') %>

<!-- markdown editor -->
<script>
    (function () {
        var editor = new Editor();
        editor.render($('.editor')[0]);


        var uploadImage = new UploadImage($('#activeTitle'), $('#activeTitleValue'));
        $('#activeTitle').on('click', function(e){
          e.preventDefault();
          e.stopPropagation();
          uploadImage.show();
        })

        // 版块选择的检查，必须选择
        $('#create_topic_form').on('submit', function (e) {
            var tabValue = $('#tab-value').val();
            if (!tabValue) {
                alert('必须选择一个版块！');
                $('.submit_btn').button('reset');
                $('.tab-selector').css('color', 'red');
                return false;
            }
        });
        // END 版块选择的检查，必须选择

        // 选择招聘版块时，给出提示
        $('#tab-value').on('change', function () {
            var $this = $(this);
            var value = $this.val();
            var warnMsg = '';
            if (value === 'job') {
                warnMsg = '<strong>为避免被管理员删帖，发帖时请好好阅读<a href="http://cnodejs.org/topic/541ed2d05e28155f24676a12" target="_blank">《招聘帖规范》</a></strong>';
            } else if (value === 'ask') {
                warnMsg = '<strong>提问时，请遵循 <a href="http://doc.zengrong.net/smart-questions/cn.html" target="_blank">《提问的智慧》</a>中提及的要点，以便您更接收到高质量回复。</strong>'
            }
            $('#topic_create_warn').html(warnMsg);
        });
        // END 选择招聘版块时，给出提示

        //
        $('#fees').change(function() {
          if(this.value == 'true') {
            // $('#cost').show();
            $('#cost').css({"display":"inline-block"});
          } else if ( this.value == 'false') {
            // $('#cost').hide();
            $('#cost').css({"display":"none"});
          }
        });

        //时间插件
        var logic = function( currentDateTime ){
        	if( currentDateTime.getDay()==6 ){
        		this.setOptions({
        			minTime:'11:00'
        		});
        	}else
        		this.setOptions({
        			minTime:'0:00'
        		});
        };
        $('#startTime').datetimepicker({
        	onChangeDateTime:logic,
        	onShow:logic
        });
        $('#endTime').datetimepicker({
        	onChangeDateTime:logic,
        	onShow:logic
        });

    })();

    // 省市二级联动
    var arr = new  Array();
      arr[0 ]="合肥,芜湖,蚌埠,马鞍山,淮北,铜陵,安庆,黄山,滁州,宿州,池州,淮南,巢湖,阜阳,六安,宣城,亳州"
      arr[1 ]="东城,西城,崇文,宣武,朝阳,丰台,石景山,海淀,门头沟,房山,通州,顺义,昌平,大兴,平谷,怀柔,密云,延庆"
      arr[2 ]="万州,涪陵,渝中,大渡口,江北,沙坪坝,九龙坡,南岸,北碚,万盛,双挢,渝北,巴南,黔江,长寿,綦江,潼南,铜梁,大足,荣昌,壁山,梁平,城口,丰都,垫江,武隆,忠县,开县,云阳,奉节,巫山,巫溪,石柱,秀山,酉阳,彭水,江津,合川,永川,南川"
      arr[3 ]="福州,厦门,莆田,三明,泉州,漳州,南平,龙岩,宁德"
      arr[4 ]="兰州,嘉峪关,金昌,白银,天水,酒泉,张掖,武威,定西,陇南,平凉,庆阳,临夏,甘南"
      arr[5 ]="广州,深圳,珠海,汕头,东莞,中山,佛山,韶关,江门,湛江,茂名,肇庆,惠州,梅州,汕尾,河源,阳江,清远,潮州,揭阳,云浮"
      arr[6 ]="南宁,柳州,桂林,梧州,北海,防城港,钦州,贵港,玉林,南宁地区,柳州地区,贺州,百色,河池"
      arr[7 ]="贵阳,六盘水,遵义,安顺,铜仁,黔西南,毕节,黔东南,黔南"
      arr[8 ]="海口,三亚"
      arr[9 ]="石家庄,邯郸,邢台,保定,张家口,承德,廊坊,唐山,秦皇岛,沧州,衡水"
      arr[10 ]="郑州,开封,洛阳,平顶山,安阳,鹤壁,新乡,焦作,濮阳,许昌,漯河,三门峡,南阳,商丘,信阳,周口,驻马店,济源"
      arr[11 ]="哈尔滨,齐齐哈尔,牡丹江,佳木斯,大庆,绥化,鹤岗,鸡西,黑河,双鸭山,伊春,七台河,大兴安岭"
      arr[12 ]="香港"
      arr[13 ]="武汉,宜昌,荆州,襄樊,黄石,荆门,黄冈,十堰,恩施,潜江,天门,仙桃,随州,咸宁,孝感,鄂州"
      arr[14 ]="长沙,常德,株洲,湘潭,衡阳,岳阳,邵阳,益阳,娄底,怀化,郴州,永州,湘西,张家界"
      arr[15 ]="南京,镇江,苏州,南通,扬州,盐城,徐州,连云港,常州,无锡,宿迁,泰州,淮安"
      arr[16 ]="南昌市,景德镇,九江,鹰潭,萍乡,新馀,赣州,吉安,宜春,抚州,上饶"
      arr[17 ]="长春,吉林,四平,辽源,通化,白山,松原,白城,延边"
      arr[18 ]="沈阳,大连,鞍山,抚顺,本溪,丹东,锦州,营口,阜新,辽阳,盘锦,铁岭,朝阳,葫芦岛"
      arr[19 ]="澳门"
      arr[20 ]="呼和浩特,包头,乌海,赤峰,呼伦贝尔盟,阿拉善盟,哲里木盟,兴安盟,乌兰察布盟,锡林郭勒盟,巴彦淖尔盟,伊克昭盟"
      arr[21 ]="银川,石嘴山,吴忠,固原"
      arr[22 ]="西宁,海东,海南,海北,黄南,玉树,果洛,海西"
      arr[23 ]="济南,青岛,淄博,枣庄,东营,烟台,潍坊,济宁,泰安,威海,日照,莱芜,临沂,德州,聊城,滨州,菏泽"
      arr[24 ]="太原,大同,阳泉,长治,晋城,朔州,吕梁,忻州,晋中,临汾,运城"
      arr[25 ]="西安,宝鸡,咸阳,铜川,渭南,延安,榆林,汉中,安康,商洛"
      arr[26 ]="黄浦,卢湾,徐汇,长宁,静安,普陀,闸北,虹口,杨浦,闵行,宝山,嘉定,浦东,金山,松江,青浦,南汇,奉贤,崇明"
      arr[27 ]="成都,绵阳,德阳,自贡,攀枝花,广元,内江,乐山,南充,宜宾,广安,达川,雅安,眉山,甘孜,凉山,泸州"
      arr[28 ]="台北,高雄,台中,台南,屏东,南投,云林,新竹,彰化,苗栗,嘉义,花莲,桃园,宜兰,基隆,台东,金门,马祖,澎湖"
      arr[29 ]="和平,东丽,河东,西青,河西,津南,南开,北辰,河北,武清,红挢,塘沽,汉沽,大港,宁河,静海,宝坻,蓟县"
      arr[30 ]="拉萨,日喀则,山南,林芝,昌都,阿里,那曲"
      arr[31 ]="乌鲁木齐,石河子,克拉玛依,伊犁,巴音郭勒,昌吉,克孜勒苏柯尔克孜,博 尔塔拉,吐鲁番,哈密,喀什,和田,阿克苏"
      arr[32 ]="昆明,大理,曲靖,玉溪,昭通,楚雄,红河,文山,思茅,西双版纳,保山,德宏,丽江,怒江,迪庆,临沧"
      arr[33 ]="杭州,宁波,温州,嘉兴,湖州,绍兴,金华,衢州,舟山,台州,丽水"

    function init()
    {
        var city = document.getElementById("city");
        var cityArr = arr[0].split(",");
        for(var i=0;i<cityArr.length;i++)
        {
                 city[i]=new Option(cityArr[i],cityArr[i]);
        }
    }

    function getCity()
    {
        var pro = document.getElementById("province");
        var city = document.getElementById("city");
        var index = pro.selectedIndex;
        var cityArr = arr[index].split(",");

        city.length = 0;
        //将城市数组中的值填充到城市下拉框中
        for(var i=0;i<cityArr.length;i++)
        {
                 city[i]=new Option(cityArr[i],cityArr[i]);
             }
    }
    window.onload = init();


</script>
