<%- partial('sidebar') %>

<div id="content">
    <div class="panel">
        <div class="header">
            <%=language.getMessage('events')%>
        </div>
        <% if (typeof(active) !== 'undefined') { %>
        <div class="inner no-padding">
            <%- partial('./list', {
            active: active,
            pages: pages,
            current_page: current_page,
            base: '/active'
            }) %>
        </div>
        <% } else { %>
        <div class="inner">
            <p><%=language.getMessage('no_topic')%></p>
        </div>
        <% } %>
    </div>
</div>
