<div id='sidebar'>

  <div class='panel'>
      <div class='header'>
          <span class='col_fade'>Kubernetes技术周刊</span>
      </div>
      <div class='inner'>
          <p><%= config.description %></p>
      </div>
  </div>

    <% if (current_user && current_user.is_admin) { %>
    <div class="panel">
        <div class='inner'>
            <a href='/active/create' id='create_topic_btn'>
                <span class='span-success'><%=language.getMessage('post_activity')%></span>
            </a>
        </div>
    </div>
    <% } %>
    <% if (!current_user || !current_user.isAdvanced) { %>
    <%- partial('./_ads') %>
    <% } %>

    <% if (typeof(no_reply_topics) !== 'undefined') { %>
    <div class='panel'>
        <div class='header'>
            <!--<span class='col_fade'>无人回复的话题</span>-->
            <span class='col_fade'><%=language.getMessage('hot_activity')%></span>
        </div>
        <div class='inner'>
            <% if (no_reply_topics.length > 0) { %>
            <ul class="unstyled">
                <%- partial('topic/small', { collection: no_reply_topics, as: 'topic' }) %>
            </ul>
            <% } else { %>
            <p>无</p>
            <% } %>
        </div>
    </div>
    <% } %>

    <% if (typeof(tops) !== 'undefined') { %>
    <div class='panel'>
        <div class='header'>
            <span class='col_fade'><%=language.getMessage('to_review_activities')%></span>
            &nbsp;
            <a class='dark' href='/users/top100'>TOP 100 &gt;&gt;</a>
        </div>
        <div class='inner'>
            <% if (tops.length > 0) { %>
            <ol>
                <%- partial('user/top', { collection: tops, as: 'user' }) %>
            </ol>
            <% } else { %>
            <p>无</p>
            <% } %>
        </div>
    </div>
    <% } %>

    <div class='panel'>
        <div class='header'>
            <span class='col_fade'><%=language.getMessage('friendship_link')%></span>
        </div>
        <div class='inner'>
            <ol class="friendship-community">
                <li>
                    <a href="https://caicloud.io/" target="_blank">
                        <img src="<%- staticFile('/public/images/caicloud.png') %>">
                    </a>
                </li>
                <div class="sep10"></div>
                <li>
                    <a href="http://www.vmware.com/cn" target="_blank">
                        <img src="<%- staticFile('/public/images/vm.png') %>">
                    </a>
                </li>
                <div class="sep10"></div>
                <li>
                    <a href="http://www.dockone.io/" target="_blank">
                        <img src="<%- staticFile('/public/images/dockerone.png') %>">
                    </a>
                </li>
            </ol>
        </div>
    </div>
    <div class='panel'>
        <div class='header'>
            <span class='col_fade'><%=language.getMessage('contact_us')%></span>
        </div>
        <div class='inner cnode-app-download'>
            <img width='200' src="//dn-cnode.qbox.me/FtG0YVgQ6iginiLpf9W4_ShjiLfU">
            <br />
            <!--<a href="https://github.com/soliury/noder-react-native" target="_blank">客户端源码地址</a>-->
            <h4><%=language.getMessage('kubecon_technology_community')%></h4>
            <p><%=language.getMessage('welcome_to_submit_or_recommend_articles')%></p>
            <p>Email:info@kubecon.com.cn</p>
        </div>
    </div>

</div>
