<div id='sidebar'>
  <div class='panel'>
    <div class='header'>
      <span class='col_fade'><%=language.getMessage('markdown_grammar_reference')%></span>
    </div>
    <div class='inner'>
      <ol>
        <li><tt>### <%=language.getMessage('single_title')%></tt></li>
        <li><tt>**<%=language.getMessage('bold')%>**</tt></li>
        <li><tt>`console.log('<%=language.getMessage('inline_code')%>')`</tt></li>
        <li><tt>```js\n code \n```</tt> <%=language.getMessage('mark_code_block')%></li>
        <li><tt>[<%=language.getMessage('content')%>](<%=language.getMessage('link')%>)</tt></li>
        <li><tt>![<%=language.getMessage('text_description')%>](<%=language.getMessage('pictures_linking')%>)</tt></li>
      </ol>
      <span><a href='https://segmentfault.com/markdown' target='_blank'><%=language.getMessage('markdown_document')%></a></span>
    </div>
  </div>

  <div class='panel'>
    <div class='header'>
      <span class='col_fade'><%=language.getMessage('topic_guide')%></span>
    </div>
    <div class='inner'>
      <ol>
        <li><%=language.getMessage('makedown_tip01')%></li>
        <li><%=language.getMessage('makedown_tip02')%></li>
        <!-- <li>代码含义和报错可在 <a href="http://segmentfault.com/t/node.js">SegmentFault</a> 提问</li> -->
      </ol>
    </div>
  </div>

</div>
